/*letra*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Quicksand:wght@300&display=swap");
/*reset*/
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FDFEEB;
}

/*letra*/
h1 {
  color: black;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h2 {
  color: black;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

/*encabezado*/
.encabezado__box--white {
  width: 98%;
  text-align: center;
  background-color: white;
  padding: 2px;
  margin: 10px 2px;
  border: solid black 0.6px;
}
.encabezado__box--white p {
  font-size: 1.2rem;
}

/*nav*/
.botonera {
  width: 98%;
  background-color: #D1F2CA;
  padding: 10px 2px;
  position: sticky;
  top: 0px;
  left: 0px;
  margin: 10px 2px;
  border: solid 0.6px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.botonera img {
  /*margin-right: 40px;
  width: 20%;
  height: 100px;*/
}

.botonera ul {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.botonera ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.botonera ul li a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  /*background-color: white;*/
}
.botonera ul li a:hover {
  color: black;
  font-weight: 400;
  /*border: solid 1px grey;*/
  text-decoration: underline;
}

/*header*/
.encabezado__imagen--fluid {
  width: 98%;
  border: solid 1px black;
  margin: 10px 2px;
}

.carouselExample img {
  /*height: 280px;*/
}

/*index contenido principal*/
.productosdestacados {
  width: 100%;
  height: 100%;
  margin: 10px 2px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productosdestacados .productosdestacados-contenedor {
  width: 68%;
  height: 320px;
  padding: 20px;
  margin: 6px 2px;
  border: solid black 0.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productosdestacados .productosdestacadosdiv-a {
  width: 80%;
  height: 210px;
  padding: 10px;
  margin: 10px;
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.productosdestacados .productosdestacadosdiv-b {
  width: 30%;
  height: 160px;
  margin: 10px;
  border: solid black 1px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}
.productosdestacados .productosdestacadosdiv-b img {
  width: 60px;
  height: 70px;
  margin: 2px 0px;
  border: solid black 0.6px;
}
.productosdestacados .productosdestacadosdiv-b img figcaption {
  margin: 2px 0px;
  color: forestgreen;
  font-size: 1.2rem;
}
.productosdestacados .productosdestacadosdiv-b img figcaption p {
  margin-left: 2px 0px;
  color: black;
  font-size: 1.2rem;
}

.novedades-contenedor {
  width: 68%;
  height: 200px;
  padding: 20px;
  margin: 6px 2px;
  border: solid black 1px;
  overflow: auto;
}

.novedades__tituloa {
  font-size: 2rem;
  color: black;
  font-weight: 200;
  text-align: center;
}

.novedades-titulo {
  font-size: 2rem;
  color: black;
  font-weight: 200;
}

.novedades-texto {
  font-size: 1.6rem;
  color: black;
}

.novedades__textob {
  font-size: 1.2rem;
}

.novedades-contenedor img {
  margin: 6px 0px;
  border: solid black 0.6px;
}

/*aside*/
.aside-contenedor {
  width: 94%;
  height: 94%;
  margin: 10px 2px;
  border: solid black 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}

.asidediv-a {
  width: 60%;
  margin: 20px 0px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asidediv-b {
  margin: 20px 10px;
}

.asidediv-b img {
  width: 20px;
  height: 20px;
  margin: 6px 0px;
}

.asidediv-b p {
  font-size: 1rem;
  margin: 2px 0px;
}

/*# sourceMappingURL=estilo.css.map */
