@charset "UTF-8";
/*background color*/
/*letra tamaño*/
/*letra color*/
/*borde*/
/*letra*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Quicksand:wght@300&display=swap");
/*reset*/
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FDFEEB;
}

/*letra*/
h1 {
  color: black;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h2 {
  color: black;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

/*encabezado*/
.encabezado__box--white {
  width: 98%;
  text-align: center;
  background-color: white;
  padding: 2px;
  margin: 10px 2px;
  border: solid black 0.6px;
}
.encabezado__box--white p {
  font-size: 1.2rem;
}

/*nav*/
.botonera {
  width: 98%;
  background-color: #D1F2CA;
  padding: 10px 2px;
  position: sticky;
  top: 0px;
  left: 0px;
  margin: 10px 2px;
  border: solid black 0.6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.botonera img {
  /*margin-right: 40px;
  width: 20%;
  height: 100px;*/
}

.botonera ul {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.botonera ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.botonera ul li a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  /*background-color: white;*/
}
.botonera ul li a:hover {
  color: black;
  font-weight: 400;
  /*border: solid 1px grey;*/
  text-decoration: underline;
}

/*header*/
.encabezado__imagen--fluid {
  width: 98%;
  border: solid black 1px;
  margin: 10px 2px;
}

.carouselExample img {
  /*height: 280px;*/
}

/*index contenido principal*/
.productosdestacados {
  width: 100%;
  height: 100%;
  margin: 10px 2px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productosdestacados-contenedor {
  width: 68%;
  height: 320px;
  padding: 20px;
  margin: 6px 2px;
  border: solid black 0.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productosdestacadosdiv-a {
  width: 80%;
  height: 210px;
  margin: 10px;
  border: solid black 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.productosdestacadosdiv-b {
  width: 30%;
  height: 160px;
  margin: 10px;
  border: solid black 0.6px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productosdestacadosdiv-b img {
  width: 70px;
  height: 80px;
  border: solid black 0.6px;
}
.productosdestacadosdiv-b figcaption {
  margin-left: 10px;
}

.productosdestacados-divb p {
  margin-left: 2px 0px;
  color: black;
  font-size: 1.2rem;
}

/*.productosdestacados-divb{
    @include productosdestacados-div(30%, 160px, 10px, $borde-b, 6px, flex, column, center, center);

    img{
    width: 60px;
    height: 70px;
    margin: 2px 0px;
    border: $borde-b;
}
        figcaption{    
        margin: 2px 0px;
        color: forestgreen;
        font-size: $letratamaño-c;

}
            p{
            margin-left: 2px 0px;
            color: $letra-color;
            font-size: $letratamaño-c;


}
}*/
.novedades-contenedor {
  width: 68%;
  height: 200px;
  padding: 20px;
  margin: 6px 2px;
  border: solid black 1px;
  overflow: auto;
}

.novedades__tituloa {
  font-size: 2rem;
  color: black;
  font-weight: 200;
  text-align: center;
}

.novedades-titulo {
  font-size: 2rem;
  color: black;
  font-weight: 200;
}

.novedades-texto {
  font-size: 1.6rem;
  color: black;
}

.novedades__textob {
  font-size: 1.2rem;
}

.novedades-contenedor img {
  margin: 6px 0px;
  border: solid black 0.6px;
}

/*filtros*/
.filtros-contenedor {
  width: 90%;
  color: black;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  border: solid black 1px;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  margin: 10px 2px;
  align-items: center;
}

.filtros-div {
  width: 60%;
  margin: 20px 0px;
  border: solid black 0.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filtros-div h2 {
  margin: 10px 0px;
}
.filtros-div form {
  margin: 6px 0px;
}

.maindiv-a {
  width: 90%;
  height: 90%;
  margin: 10px;
  border: solid black 1px;
  padding: 10px;
}

.maindiv-b {
  width: 90%;
  height: 90%;
  margin: 10px;
  border: solid black 1px;
  padding: 10px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.maindiv-c {
  width: 20%;
  height: 90%;
  margin: 6px 2px;
  border: solid black 0.6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main-texto {
  margin: 10px;
  font-size: 2rem;
}

.maindiv-c figcaption {
  color: forestgreen;
  margin: 2px 0px;
  font-size: 1.2rem;
}
.maindiv-c p {
  margin: 2px 0px;
  font-size: 1.2rem;
}

.producto-imagen {
  width: 40%;
  height: 80px;
  margin: 6px 0px;
  border: solid black 0.6px;
  /*justify-content: center;*/
}

/*aside*/
.aside-contenedor {
  width: 94%;
  height: 94%;
  margin: 10px 2px;
  border: solid black 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}

.asidediv-a {
  width: 60%;
  margin: 20px 0px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asidediv-b {
  margin: 20px 10px;
}
.asidediv-b img {
  width: 20px;
  height: 20px;
  margin: 6px 0px;
}
.asidediv-b img:hover {
  transform: scale(2);
}
.asidediv-b p {
  font-size: 1rem;
  margin: 2px 0px;
}
.asidediv-b:hover {
  color: lightgrey;
}

/*formulario*/
.formulariodiv-a {
  /*border: solid 1px black;*/
  margin: 10px 2px;
  /* display: flex;
   justify-content: flex-start;*/
}

.formulariodiv-b {
  margin: 6px 2px;
  display: flex;
  flex-direction: row;
}

.formulario-titulo {
  font-size: 1.6rem;
  margin: 6px 2px;
}

.formulario-titulo::first-letter {
  font-size: 2rem;
  color: palegreen;
}

.formulario-texto {
  margin: 6px 2px;
}

.bgClaro {
  background-color: white;
  border: solid black 1px;
  margin: 10px 2px;
  padding: 10px;
}

/*grid*/
.contenedor {
  width: 100%;
  margin: 0px;
  padding: 2px auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 5, auto;
  grid-template-areas: "telyemail telyemail" "nav nav" "header header" "productos aside" "footer footer";
  column-gap: 10px;
  grid-row-gap: 10px;
}

.contenedorb {
  width: 100%;
  margin: 0px;
  padding: 2px auto;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 4, auto;
  grid-template-areas: "telyemail telyemail telyemail" "nav nav nav" "filtros productos aside" "footer footer footer";
  column-gap: 10px;
  grid-row-gap: 10px;
}

.contenedorc {
  width: 100%;
  margin: 0px;
  padding: 2px auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 4, auto;
  grid-template-areas: "telyemail telyemail" "nav nav" "formulario formulario" "footer footer";
  column-gap: 10px;
  grid-row-gap: 10px;
}

#telyemail {
  grid-area: telyemail;
}

#nav {
  grid-area: nav;
}

#header {
  grid-area: header;
}

#productos {
  grid-area: productos;
}

#aside {
  grid-area: aside;
}

#filtros {
  grid-area: filtros;
}

#formulario {
  grid-area: formulario;
}

#mapa {
  grid-area: mapa;
}

#footer {
  grid-area: footer;
}

/*pie*/
.pie {
  width: 98%;
  text-align: center;
  padding: 20px;
  margin: 10px 2px;
  border: solid black 1px;
  background-color: #D1F2CA;
}

.pie__icon--sm {
  width: 40px;
}

.pie__titulo--md {
  font-size: 1.6rem;
  font-weight: 200;
}

/*--------diseño responsive--------*/
/*--celular--*/
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .contenedor {
    width: 88%;
    padding: 2px;
    margin: 0px 6px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6, auto;
    grid-template-areas: "telyemail" "nav" "header" "productos" "aside" "footer";
  }
  .encabezado__box--white {
    width: 80%;
    margin: 6px 2px;
    justify-content: center;
    border: solid black 0.6px;
  }
  .encabezado__box--white p {
    font-size: 1rem;
  }
  /*cel nav*/
  .botonera {
    width: 80%;
    height: 80px;
    margin: 6px 2px;
    padding: 2px 2px;
  }
  .botonera a img {
    width: 120px;
    margin: 2px 4px;
  }
  .botonera ul {
    /*display: inline-block;*/
    margin: 2px 12px;
    width: 48%;
    display: flex;
    /*border: solid 0.6px grey;*/
    padding: 6px;
    /*flex-wrap: wrap;*/
    flex-direction: column;
  }
  .botonera ul li {
    margin-right: 2px;
    display: block;
  }
  .botonera ul li a {
    font-size: 1rem;
    margin: 2px 6px;
  }
  /*header foto cel*/
  .encabezado__imagen--fluid {
    width: 80%;
    margin: 6px 2px;
  }
  /*cel productos*/
  /*productos destacados*/
  .productosdestacados {
    width: 80%;
    margin: 6px 2px;
    padding: 2px;
  }
  .productosdestacados-contenedor {
    width: 80%;
    height: 400px;
    border: solid black 0.6px;
    margin: 6px 2px;
    padding: 10px 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .productosdestacadosdiv-a {
    width: 90%;
    height: 340px;
    flex-direction: column;
    /*width: 80%;*/
    padding: 4px 2px;
    margin: 10px 2px;
    display: flex;
    justify-content: center;
    /*border: solid grey 1px;*/
  }
  .productosdestacadosdiv-b {
    width: 60%;
    height: 160px;
    margin: 2px 40px;
    border: solid black 0.6px;
    padding: 2px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .textodestacados {
    font-size: 1.2rem;
    margin: 2px;
  }
  .productosdestacadosdiv-b img {
    width: 70%;
    height: 80px;
    margin: 2px 0px;
  }
  .productosdestacadosdiv-b img figcaption {
    font-size: 1rem;
    margin: 2px 0px;
  }
  .productosdestacadosdiv-b img figcaption p {
    font-size: 1rem;
    margin: 2px 0px;
  }
  /*cel productos novedades*/
  .novedades-contenedor {
    width: 80%;
    height: 160px;
    padding: 2px 6px;
    margin: 6px 2px;
    border: solid black 0.6px;
    overflow: auto;
  }
  .novedades-titulo {
    font-size: 1.2rem;
    color: black;
    margin: 6px 2px;
  }
  .novedades-texto {
    font-size: 1rem;
    color: black;
    margin: 6px 2px;
  }
  .novedades-contenedor img {
    width: 40%;
    height: 100px;
    border: solid black 0.6px;
  }
  /*aside*/
  .aside-contenedor {
    width: 80%;
    height: 70%;
    margin: 6px 2px;
    border: solid black 0.6px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .asidediv-a {
    width: 60%;
    height: 60px;
    margin: 2px;
    border: solid black 0.6px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .asidediv-b {
    width: 20%;
    margin: 20%;
    margin: 6px;
    border: solid black 0.6px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .asidediv-b img {
    width: 20px;
    height: 20px;
  }
  /*footer*/
  .pie {
    width: 80%;
    height: 80px;
    padding: 6px;
    margin: 6px 2px;
  }
  .pie__titulo--md {
    font-size: 1.2rem;
  }
  .pie__icon--sm {
    width: 10%;
    margin: 8px;
    justify-content: space-around;
  }
  .contenedorb {
    width: 88%;
    margin: 0px 6px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6, auto;
    grid-template-areas: "telyemail" "nav" "filtros" "productos" "aside" "footer";
  }
  .filtros-contenedor {
    width: 80%;
    height: 80px;
    color: black;
    padding: 2px;
    font-size: 1rem;
    line-height: 1.2rem;
    border: solid black 0.6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6px 2px;
    align-items: center;
  }
  .filtros-div {
    width: 60%;
    height: 80px;
    margin: 2px 0px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filtros-div h2 {
    margin: 2px 0px;
    font-size: 1.2rem;
  }
  .filtros-div form {
    margin: 2px 0px;
    font-size: 1rem;
  }
  /*aside*/
  .aside-contenedor {
    width: 80%;
    height: 120px;
    margin: 6px 2px;
    border: solid black 0.6px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .asidediv-a {
    width: 60%;
    height: 80px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .asidediv-b {
    width: 20%;
    margin: 20%;
    margin: 6px;
    border: solid black 0.6px;
    padding: 2px;
    display: flex;
    flex-direction: column;
  }
  .asidediv-b img {
    width: 20px;
    height: 20px;
  }
  .main-contenedor {
    width: 80%;
    /*height: 760px;*/
    padding: 2px;
    border: solid black 0.6px;
    margin: 6px 2px;
    background-color: white;
  }
  .maindiv-a {
    width: 80%;
    /*height: 720px;*/
    margin: 2px;
    border: solid black 0.6px;
    padding: 2px;
  }
  .maindiv-b {
    width: 80%;
    /*height: 300px;*/
    margin: 6px;
    border: solid black 0.6px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
  }
  .maindiv-c {
    width: 60%;
    /*height: 200px;*/
    margin: 2px 0px;
    border: solid black 0.6px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .maintexto {
    margin: 10px 0px;
  }
  .productoimagen {
    width: 80px;
    height: 100px;
    margin: 10px 0px;
    border: solid black 0.6px;
    /*justify-content: center;*/
  }
  .contenedorc {
    width: 88%;
    padding: 2px;
    margin: 0px 6px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4, auto;
    grid-template-areas: "telyemail" "nav" "formulario" "footer";
  }
  .bgClaro {
    width: 80%;
    margin: 6px 2px;
    display: flex;
    flex-direction: column;
    border: solid black 0.6px;
  }
  .contacto {
    width: 80%;
    background-color: white;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    border: solid grey 0.6px;
    /*justify-content: flex-start;/*
    /*align-content: flex-start;*/
  }
  .formularioa {
    width: 60%;
    margin: 6px 2px;
    display: flex;
    flex-direction: column;
  }
  .formulariodiv-a {
    width: 80%;
    border: solid 1px black;
    margin: 6px 2px;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
  }
  .formulariodiv-b {
    width: 60%;
    margin: 6px 2px;
    display: flex;
    flex-direction: column;
  }
  .formulario-texto {
    margin: 6px 2px;
    font-size: 1rem;
  }
}
/*--------tablet--------*/
@media only screen and (min-width: 451px) and (max-width: 980px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .contenedor {
    width: 100%;
    padding: 2px;
    margin: 0px 6px;
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 6, auto;
    grid-template-areas: "telyemail telyemail" "nav nav" "header header" "productos productos" "aside aside" "footer footer";
  }
  /*tablet encabezado*/
  .encabezado__box--white {
    width: 96%;
    margin: 6px 4px;
    justify-content: center;
    border: solid black 0.6px;
  }
  /*nav*/
  .botonera {
    width: 96%;
    height: 120px;
    margin: 6px 4px;
    padding: 2px;
    display: flex;
    justify-content: space-around;
  }
  .botonera a img {
    width: 200px;
    margin: 2px 6px;
  }
  .botonera ul {
    /*display: inline-block;*/
    margin: 2px 6px;
    width: 30%;
    display: flex;
    /*border: solid black 0.6px;*/
    padding: 2px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .botonera ul li {
    margin: 2px;
    /*display: block;*/
  }
  .botonera ul li a {
    font-size: 1.2rem;
    /*margin: 2px 4px;*/
  }
  .divnav {
    margin: 2px;
  }
  .encabezado__imagen--fluid {
    width: 96%;
    margin: 6px 4px;
  }
  /*tablet productos*/
  /*tablet productos destacados*/
  .productosdestacados {
    width: 96%;
    margin: 6px 4px;
    padding: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .productosdestacados-contenedor {
    width: 90%;
    height: 280px;
    /*border: solid grey 1px;*/
    margin: 6px 4px;
    padding: 2px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .textodestacados {
    font-size: 1.6rem;
    margin: 2px;
  }
  .productosdestacadosdiv-a {
    flex-direction: row;
    width: 80%;
    height: 220px;
    padding: 2px 8px;
    margin: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .productosdestacadosdiv-b {
    width: 30%;
    height: 180px;
    margin: 6px 10px;
    border: solid black 0.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .productosdestacadosdiv-b img {
    margin: 2px 6px;
    width: 60%;
    height: 100px;
  }
  .productosdestacadosdiv-b img figcaption {
    font-size: 1.2rem;
    margin: 2px 0px;
  }
  .productosdestacadosdiv-b img figcaption p {
    font-size: 1.2rem;
    margin: 2px 0px;
  }
  .novedades-contenedor {
    width: 90%;
    height: 240px;
    padding: 10px 10px;
    margin: 6px 4px;
    border: solid black 0.6px;
    overflow: auto;
  }
  .novedades-titulo {
    font-size: 1.6rem;
    color: black;
    margin: 0px 10px;
  }
  .novedades-texto {
    font-size: 1.2rem;
    color: black;
    margin: 6px 0px;
  }
  .novedades-contenedor img {
    width: 20%;
    height: 160px;
    margin: 6px 0px;
  }
  .novedades-texto {
    font-size: 1.2rem;
    margin: 2px 0px;
  }
  /*aside*/
  .aside-contenedor {
    width: 96%;
    height: 160px;
    margin: 6px 4px;
    border: solid black 0.6px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .asidediv-a {
    width: 60%;
    height: 80px;
    margin: 2px;
    border: solid black 0.6px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .asidediv-b {
    width: 20%;
    margin: 20%;
    margin: 6px;
    border: solid black 0.6px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .asidediv-b img {
    width: 40px;
    height: 40px;
  }
  .pie {
    width: 96%;
    height: 120px;
    margin: 6px 4px;
    padding: 6px;
  }
  .pie__titulo--md {
    font-size: 1.6rem;
  }
  .pie__icon--sm {
    width: 6%;
    margin: 8px;
    justify-content: space-around;
  }
  .contenedorb {
    width: 100%;
    margin: 0px 6px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6, auto;
    grid-template-areas: "telyemail telyemail" "nav nav" "filtros filtros" "productos productos" "aside aside" "footer footer";
  }
  .filtros-contenedor {
    width: 96%;
    height: 160px;
    color: black;
    padding: 6px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 6px 4px;
    align-items: center;
  }
  .main-contenedor {
    width: 96%;
    padding: 6px;
    border: solid black 0.6px;
    margin: 6px 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .maindiv-a {
    width: 80%;
    height: 70%;
    margin: 2px;
    border: solid black 0.6px;
    padding: 2px;
  }
  .maindiv-b {
    width: 80%;
    height: 80%;
    margin: 6px;
    border: solid black 0.6px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .maindiv-c {
    width: 40%;
    height: 60%;
    margin: 6px 2px;
    border: solid black 0.6px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .maindiv-c img {
    width: 30%;
    height: 80px;
    margin: 10px 60px;
    border: solid black 0.6px;
    justify-content: center;
  }
  .contenedorc {
    width: 100%;
    padding: 2px;
    margin: 0px 6px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4, auto;
    grid-template-areas: "telyemail" "nav" "formulario" "footer";
  }
  .bgClaro {
    width: 96%;
    background-color: white;
    padding: 4px;
    margin: 6px 4px;
    display: flex;
    flex-direction: column;
  }
  .contacto {
    width: 80%;
    background-color: white;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;
    align-content: flex-start;*/
  }
  .formulariodiv-a {
    width: 80%;
    border: solid 0.6px black;
    margin: 6px 2px;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
  }
  .formulariodiv-b {
    margin: 6px 2px;
    display: flex;
    flex-direction: row;
  }
  .formulariotexto {
    margin: 6px 6px;
  }
  .formulariodiv-b label {
    font-size: 1.2rem;
    margin: 4px 2px;
  }
  .formulariodiv-b input {
    margin: 4px 2px;
  }
  .formulario-texto {
    font-size: 1.2rem;
    margin: 4px 2px;
  }
  .formulario-boton {
    width: 20%;
    margin: 4px 2px;
  }
}

/*# sourceMappingURL=estilo.css.map */
