/*background color*/
$bgcolor-bl: white;
$bgcolor-v: #D1F2CA;
$bgcolor-be: #FDFEEB;

/*letra tamaño*/
$letratamaño-a: 2rem;
$letratamaño-b: 1.6rem;
$letratamaño-c: 1.2rem;

/*letra color*/
$letra-color: black;

/*borde*/
$borde-a: solid grey 1px;
$borde-b: solid grey 0.6px;