/*pie*/
.pie-contenedor{
    width: 100%;
    height: 400px;
    /*text-align: center;*/
    padding: 2px;
    margin: 10px 0px;
    border: $borde-b;
    /*background-image: linear-gradient(to right,lightgray,$bgcolor-v);
    background-color: $bgcolor-v; */  
    display: flex;
    flex-direction: column; 
}

.piediv-a{
    width: 100%;
    height: 30%;
    background-color: white;
    margin: 2px 0px;
    border: $borde-b;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.suscribite-div{
    width: 30%;
    height: 100%;
    margin: 2px;
    border: $borde-b;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*.suscribitediv-a{
    width: 80%;
    height: 80%;
    border: $borde-b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}*/

.suscribite-div p{
    font-size: 1.2rem;
    margin: 0px 2px;
}
.suscribite-div input{
    width: 100px;
    height: 20px;
    margin: 0px 2px;
}

.atencion-div{
    width: 40%;
    height: 100%;
    margin: 2px;
    border: solid grey 0.6px;
    padding: 2px;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
}
.atenciondiv-a{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.atenciondiv-a p{
    font-size: 1.2rem;

}

.redsocial-div{
    width: 30%;
    height: 100%;
    margin: 2px;
    border: $borde-b;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redsocialdiv-a{
    width: 60%;
    border: $borde-b;
    display: flex;
    text-align: center;
    align-items: center;
}
.redsocial-div p{
    font-size: 1.2rem;
}
.redsocialdiv-b{
    width: 60%;
    border: $borde-b;
    display: flex;
    align-items: center;
}
.redsocialdiv-b img{
    width: 30px;
    height: 30px;
    margin: 2px;
}

.piediv-b{
    width: 100%;
    height: 40%;
    background-color: #EBEBEB;
    margin: 2px 0px;
    border: $borde-b;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.pie-texto{
    width: 20%;
    height: 90%;
    margin: 2px 6px;
    border: $borde-b;
    padding: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pie-texto p{
    font-size: 1.2rem;
}
.piediv-c{
    width: 100%;
    height: 30%;
    background-color: white;
    border: $borde-b;
    padding: 2px;
    display: flex;
    align-items: center;
}

.copyright-div{
    width: 60%;
    border: $borde-b;
    padding: 2px;
    display: flex;
    align-content: center;
}
.copyright-div p{
    font-size: 1.2rem;
}

/*
.pie__icon--sm{
 width: 40px;
}
.pie__titulo--md{
    font-size: $letratamaño-b;
    font-weight: 200;
}
*/