/*pie*/
.pie{
    width: 98%;
    text-align: center;
    padding: 20px;
    margin: 10px 2px;
    border: $borde-a;
    background-image: linear-gradient(to right,lightgray,$bgcolor-v);
    /*background-color: $bgcolor-v; */   
}
.pie__icon--sm{
 width: 40px;
}
.pie__titulo--md{
    font-size: $letratamaño-b;
    font-weight: 200;
}