/*header*/
/*.encabezado__imagen--fluid{
    width: 98%;
   border: $borde-a;
    margin: 10px 2px;

}*/
.header-foto{
    width: 100%;
   border: $borde-a;
    margin: 6px 0px;

}

.carouselExample img{
    /*height: 280px;*/
}