/*formulario*/
.formulariodiv-a{
    /*border: solid 1px black;*/
    margin: 10px 2px;
   /* display: flex;
    justify-content: flex-start;*/
}

.formulariodiv-b{
    margin: 6px 2px;
    display: flex;
    flex-direction: row;
}
.formulario-texto{
    margin: 6px 2px;
}

.bgClaro{
 background-color: white;
 border: solid black 1px;
 margin: 10px 2px;
 padding: 10px;
}