/*formulario*/
.formulariodiv-a{
    margin: 10px 2px;
}

.formulariodiv-b{
    margin: 6px 2px;
    display: flex;
    flex-direction: row;
}
.formulario-titulo{
    font-size: $letratamaño-b;
    margin: 6px 6px;
}
.formulario-titulo::first-letter{
    /*font-size: $letratamaño-a;
    color: palegreen;*/

}
.formulario-texto{
    margin: 6px 2px;
}
.formulariodiva-a{
    margin: 6px 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.formulariodiva-a input{
    margin: 2px;
    height: 15px;
}

.bgClaro{
 background-color: $bgcolor-bl;
 border: $borde-a;
 margin: 10px 2px;
 padding: 10px;
}
.contacto{
    width: 90%;
    background-color: white;
    /*border: solid grey 0.6px;*/
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contacto-a{
    width: 40%;
    background-color: white;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    /*border: solid grey 0.6px;*/
}
.mapa{
    width: 40%;
}