/*formulario*/
.formulariodiv-a{
    margin: 10px 2px;
}

.formulariodiv-b{
    margin: 6px 2px;
    display: flex;
    flex-direction: row;
}
.formulario-titulo{
    font-size: $letratamaño-b;
    margin: 6px 2px;
}
.formulario-titulo::first-letter{
    font-size: $letratamaño-a;
    color: palegreen;

}
.formulario-texto{
    margin: 6px 2px;
}

.bgClaro{
 background-color: $bgcolor-bl;
 border: $borde-a;
 margin: 10px 2px;
 padding: 10px;
}