/*index contenido principal*/
.productosdestacados{
    width: 100%;
    height: 100%;
    margin: 10px 2px;
    /*border: $borde-a;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productosdestacados-contenedor{
    width: 68%;
    height: 320px;
    padding: 20px;
    margin: 6px 2px;
    border: $borde-b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productosdestacadosdiv-a{
    @include productosdestacados-div(80%, 210px, 10px, none, 10px, flex, row, space-evenly, center);
}


.productosdestacadosdiv-b{
    @include productosdestacados-div(30%, 160px, 10px, $borde-b, 6px, flex, column, center,center);

    img{
    width: 70px;
    height: 80px;
    border: $borde-b;
} 
        figcaption{
    margin-left: 10px;
}
}
.productosdestacados-divb p{

    margin-left: 2px 0px;
    color: $letra-color;
    font-size: $letratamaño-c;

}


/*.productosdestacados-divb{
    @include productosdestacados-div(30%, 160px, 10px, $borde-b, 6px, flex, column, center, center);

    img{
    width: 60px;
    height: 70px;
    margin: 2px 0px;
    border: $borde-b;
}
        figcaption{    
        margin: 2px 0px;
        color: forestgreen;
        font-size: $letratamaño-c;

}
            p{
            margin-left: 2px 0px;
            color: $letra-color;
            font-size: $letratamaño-c;


}
}*/


.novedades-contenedor{
    width: 68%;
    height: 200px;
    padding: 20px;
    margin: 6px 2px;
    border: $borde-a;
    overflow: auto;
}
.novedades__tituloa{
    font-size: $letratamaño-a;
    color: $letra-color;
    font-weight: 200;
    text-align: center;
}
.novedades-titulo{
    font-size: $letratamaño-a;
    color: $letra-color;
    font-weight: 200;
}
.novedades-texto{
    font-size: $letratamaño-b;
    color: $letra-color;
}
.novedades__textob{
    font-size: $letratamaño-c;
}
.novedades-contenedor img{
    margin: 6px 0px;
    border: $borde-b;
}

