/*paginas contenido principal*/
.main-contenedor{
    width: 90%;
    padding: 10px;
    border: $borde-a;
    margin: 10px 2px;
    background-color: $bgcolor-bl;
}
.maindiv-a{
    width: 90%;
    height: 90%;
    margin: 10px;
    border: $borde-a;
    padding: 10px;
}
.maindiv-b{
    width: 90%;
    height: 90%;
    margin: 10px;
    border: $borde-a;
    padding: 10px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.maindiv-c{
    width: 20%;
    height: 90%;
    margin: 6px 2px;
    border: $borde-b;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.main-texto{
    margin: 10px;
    font-size: $letratamaño-a;
}
.maindiv-c{
    figcaption{
    color: forestgreen;
    margin: 2px 0px;
    font-size: $letratamaño-c;
}
        p{
        margin: 2px 0px;
        font-size: $letratamaño-c;
}
}
.producto-imagen{
    width: 40%;
    height: 80px;
    margin: 6px 0px;
    border: $borde-b;
    /*justify-content: center;*/
}
