/*nav*/
.botonera{
    width: 98%;
    background-color: #D1F2CA;
    padding: 10px 2px;
    position: sticky;
    top: 0px;
    left: 0px;
    margin: 10px 2px;
    border: solid 0.6px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    img{
    /*margin-right: 40px;*/
    width: 10%;
    height: 100px;   
    }
}

.botonera{
   
    ul{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    }
        
        li{
        list-style: none;
        display: inline-block;
        margin-right: 10px;
        }
            
            a{
            color: black;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
             font-size: 1.6rem;
            font-weight: 200;
           /*background-color: white;*/
            }
            
                a:hover {
                color: black;
                font-weight: 400;
                /*border: solid 1px grey;*/
                text-decoration: underline;
                }            
}
